<!DOCTYPE html>
<html ng-app="stats">
	<head>
		<link rel="stylesheet" href="bootstrap.min.css">
		<link rel="stylesheet" href="main.css">
		
		<title>Stats champions</title>
		
   </head>
<body>
	
	<div class="container" ng-controller="ModalController as modal">   
		<div class="row">
			<div class="col-md-6 " ng-controller="ChampController as champ">
				<!--Number Patch-->
				<p>Patch: <strong>{{c.version}}</strong></p>
			</div>
			<div class="span6">
				<!--Sidebar content-->
				Search: <input ng-model="query">
			</div>
		</div>		
		<div class="row">
			<div class="col-md-12" ng-controller="ChampController as champ">
				 <table class="table table-striped">
					  <thead>
							<tr>
								<th class="text-center" display:table-header-group></th>
								<th class="text-center" display:table-header-group><a href="" ng-click="predicate ='name'; reverse=!reverse">Name</a></th>
								<th class="text-center" display:table-header-group><a href="" ng-click="predicate ='stats.armor'; reverse=!reverse">Armor</a></th>
								<th class="text-center" display:table-header-group><a href="" ng-click="predicate ='stats.spellblock'; reverse=!reverse">Magic resist</a></th>
								<th class="text-center" display:table-header-group><a href="" ng-click="predicate ='stats.attackdamage'; reverse=!reverse">Attack damage</a></th>
								<th class="text-center" display:table-header-group><a href="" ng-click="predicate ='stats.attackrange'; reverse=!reverse">Attack range</a></th>
								<th class="text-center" display:table-header-group><a href="" ng-click="predicate ='stats.attackspeedoffset'; reverse=!reverse">Attack speed</a></th>
								<th class="text-center" display:table-header-group><a href="" ng-click="predicate ='stats.hp'; reverse=!reverse">Hp</a></td>
								<th class="text-center" display:table-header-group><a href="" ng-click="predicate ='stats.movespeed'; reverse=!reverse">Move speed</a></th>
						  		<th class="text-center" display:table-header-group></span>
</th>
							</tr> 
					  </thead>
					  <tbody>
							<tr ng-repeat="item in c.champions | orderBy:predicate:reverse | filter:query">
								<td display: table-cell ><img class="img-thumbnail champ" ng-src="{{item.name}}_Square_0.png"></td>
								<td class="text-center" display: table-cell >{{item.name}}</td>
								<td class="text-center" display: table-cell >{{item.stats.armor}}</td>
								<td class="text-center" display: table-cell >{{item.stats.spellblock}}</td>
								<td class="text-center" display: table-cell >{{item.stats.attackdamage}}</td>
								<td class="text-center" display: table-cell >{{item.stats.attackrange}}</td>
								<td class="text-center" display: table-cell >{{0.625/(1+(item.stats.attackspeedoffset)) | limitTo: 5}}</td>
								<td class="text-center" display: table-cell >{{item.stats.hp}}</td>
								<td class="text-center" display: table-cell >{{item.stats.movespeed}}</td>       
								<td display: table-cell>
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" data-id="3" ng-click="modal.loadModal(item.id)">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true">
									</button>
								</td>
							</tr>
					  </tbody> 
				 </table>
			</div>
		</div>
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="cotainer-fluid">
						<div class="row">
							<div class="col-md-4">
								<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
										<li data-target="#carousel-example-generic" data-slide-to="1"></li>
										<li data-target="#carousel-example-generic" data-slide-to="2"></li>
									</ol>

									<!-- Wrapper for slides -->
									<div class="carousel-inner" role="listbox">
										<div ng-repeat="item in m.skins" class="item" ng-class='{active:$first}' >
											<img ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{m.key}}_{{item.num}}.jpg">
											<div class="carousel-caption">
											{{item.name}}
											</div>
										</div>

									<!-- Controls -->
									<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
										<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</a>
									<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
										<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
										<span class="sr-only">Next</span>
									</a>
									</div>
								</div>
						</div>
						<div class="col-md-3">
							<dl>
								<dt>{{m.passive.name}}</dt>
								<dd><img ng-src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/passive/{{m.passive.image.full}} "></dd>
								<dt>{{m.spells[0].name}}</dt>
								<dd><img ng-src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/spell/{{m.spells[0].image.full}} "></dd>
								<dt>{{m.spells[1].name}}</dt>
								<dd><img ng-src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/spell/{{m.spells[1].image.full}} "></dd>
								<dt>{{m.spells[2].name}}</dt>
								<dd><img ng-src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/spell/{{m.spells[2].image.full}} "></dd>
								<dt>{{m.spells[3].name}}</dt>
								<dd><img ng-src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/spell/{{m.speels[3].image.full}} "></dd>															
							</dl>
						</div>
						<div class="col-md-5">
							<p></p>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    
   <script type="text/javascript" src="angular.min.js"></script>
   <script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
</body>
</html>