<!DOCTYPE html>
<html ng-app="stats">
    <head>
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="main.css">
    </head>
<body>
    <div class="col-md-10 col-md-offset-1" ng-controller="ChampController as champ">
        <table class="table table-striped">
            <tr>
                <td><a href="" ng-click="predicate = 'name'">Name</a></td>
                <td><a href="" ng-click="predicate = 'armor'">Armor</a></td>
                <td><a href="" ng-click="predicate = 'attackdamage'">Attack damage</a></td>
                <td><a href="" ng-click="predicate = 'hp'"></a>Hp</td>
                <td><a href="" ng-click="predicate = 'movespeed'">Move speed</a></td>
            </tr>
            <tr ng-repeat="item in c.champions | orderBy:predicate">
                <td>{{item.name}}</td>
                <td>{{item.stats.armor}}</td>
                <td>{{item.stats.attackdamage}}</td>
                <td>{{item.stats.hp}}</td>
                <td>{{item.stats.movespeed}}</td>
            </tr> 
            
        </table>
            
    </div>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

</body>
</html>