<!DOCTYPE html>
<html ng-app="stats">
	<head>
		<link rel="stylesheet" href="bootstrap.min.css">
		<link rel="stylesheet" href="main.css">
		
		<title>Stats champions</title>
		
   </head>
<body ng-controller="ChampController as champ">
	<div class="row">
		<div class="col-md-6 ">
			<!--Number Patch-->
			<p class="white">Patch: <strong>{{c.version}}</strong></p>
		</div>
	</div>	
	<div id="content-promo">
		<div class="content-promo-rotator">
			<div class="promo-background">
			</div>
		</div>
	</div> 
	<div class="container" ng-controller="ModalController as modal">
		<section class="row bottom-margin" >
			<div class="col-md-9 col-offset-3">
				<p class="white">Search: </p><input ng-model="champList">
			</div>
		</section>
		<div class="row">
			<div class="col-md-12">
				 <table class="table">
					  <thead>
							<tr>
								<th class="text-center" display:table-header-group></th>
								<th class="text-center" display:table-header-group><a href="" ng-click="predicate ='name'; reverse=!reverse">Name</a></th>
								<th class="text-center" display:table-header-group><a href="" ng-click="predicate ='stats.armor'; reverse=!reverse">Armor</a></th>
								<th class="text-center" display:table-header-group><a href="" ng-click="predicate ='stats.spellblock'; reverse=!reverse">Magic resist</a></th>
								<th class="text-center" display:table-header-group><a href="" ng-click="predicate ='stats.attackdamage'; reverse=!reverse">Attack damage</a></th>
								<th class="text-center" display:table-header-group><a href="" ng-click="predicate ='stats.attackrange'; reverse=!reverse">Attack range</a></th>
								<th class="text-center" display:table-header-group><a href="" ng-click="predicate ='stats.attackspeedoffset'; reverse=!reverse">Attack speed</a></th>
								<th class="text-center" display:table-header-group><a href="" ng-click="predicate ='stats.hp'; reverse=!reverse">Hp</a></th>
								<th class="text-center" display:table-header-group><a href="" ng-click="predicate ='stats.movespeed'; reverse=!reverse">Move speed</a></th>
						  		<th class="text-center" display:table-header-group></th>
							</tr> 
					  </thead>
					  <tbody>
							<tr ng-repeat="item in c.champions | orderBy:predicate:reverse | filter:champList">
								<td display: table-cell ><img class="img-thumbnail champ" ng-src="{{item.name}}_Square_0.png"></td>
								<td class="text-center" display: table-cell >{{item.name}}</td>
								<td class="text-center" display: table-cell >{{item.stats.armor}}</td>
								<td class="text-center" display: table-cell >{{item.stats.spellblock}}</td>
								<td class="text-center" display: table-cell >{{item.stats.attackdamage}}</td>
								<td class="text-center" display: table-cell >{{item.stats.attackrange}}</td>
								<td class="text-center" display: table-cell >{{0.625/(1+(item.stats.attackspeedoffset)) | limitTo: 5}}</td>
								<td class="text-center" display: table-cell >{{item.stats.hp}}</td>
								<td class="text-center" display: table-cell >{{item.stats.movespeed}}</td>       
								<td display: table-cell>
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" data-id="3" ng-click="modal.loadModal(item.id)">
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</button>
								</td>
							</tr>
					  </tbody> 
				 </table>
			</div>
		</div>
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="cotainer-fluid">
						<div class="row">
							<div class="col-md-4">
								<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
								<!-- Indicators -->
									<ol class="carousel-indicators">
										<li  ng-repeat="item in m.skins" data-target="#carousel-example-generic" data-slide-to="{{item.num}}" ng-class="{active:$first}"></li>
									</ol>

									<!-- Wrapper for slides -->
									<div class="carousel-inner" role="listbox">
										<div ng-repeat="item in m.skins" class="item" ng-class="{active:$first}">
											<img ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{m.key}}_{{item.num}}.jpg">
											<div class="carousel-caption">
												{{item.name}}
											</div>
										</div>

										<!-- Controls -->
										<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
											<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
											<span class="sr-only">Previous</span>
										</a>
										<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
											<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
											<span class="sr-only">Next</span>
										</a>
									</div>
								</div>
						</div>
							<div class="col-md-8">
								<section class="row title">
									<div class="col-md-12 text-center"><strong>{{m.title}}</strong></div>
								</section>	
								<section ng-controller="PanelController as panel">
									<ul class="nav nav-pills">
										<li ng-class="{active:panel.isSelected(1)}"><img ng-src="http://ddragon.leagueoflegends.com/cdn/{{c.version}}/img/passive/{{m.passive.image.full}}" ng-click="panel.selectTab(1)"></li>
										<li ng-class="{active:panel.isSelected(2)}"><img ng-src="http://ddragon.leagueoflegends.com/cdn/{{c.version}}/img/spell/{{m.spells[0].image.full}}" ng-click="panel.selectTab(2)"></li>
										<li ng-class="{active:panel.isSelected(3)}"><img ng-src="http://ddragon.leagueoflegends.com/cdn/{{c.version}}/img/spell/{{m.spells[1].image.full}}" ng-click="panel.selectTab(3)"></li>
										<li ng-class="{active:panel.isSelected(4)}"><img ng-src="http://ddragon.leagueoflegends.com/cdn/{{c.version}}/img/spell/{{m.spells[2].image.full}}" ng-click="panel.selectTab(4)"></li>
										<li ng-class="{active:panel.isSelected(5)}"><img ng-src="http://ddragon.leagueoflegends.com/cdn/{{c.version}}/img/spell/{{m.spells[3].image.full}}" ng-click="panel.selectTab(5)"></li>
									</ul>									
									<div class="panel" ng-show="panel.isSelected(1)" ng-init="e1=6">
										<h4>{{m.passive.name}}</h4>
										<p compile="passive"></p>
									</div>
									<div class="panel" ng-show="panel.isSelected(2)">
										<h4>{{m.spells[0].name}}</h4>
										<p compile="Q"></p>
									</div>
									<div class="panel" ng-show="panel.isSelected(3)">
										<h4>{{m.spells[1].name}}</h4>
										<p compile="W"></p>
									</div>
									<div class="panel" ng-show="panel.isSelected(4)">
										<h4>{{m.spells[2].name}}</h4>
										<p compile="E"></p>
									</div>
									<div class="panel" ng-show="panel.isSelected(5)">
										<h4>{{m.spells[3].name}}</h4>
										<p compile="R"></p>
									</div>
								</section>																				
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    
   <script type="text/javascript" src="angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.js"></script>
   <script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
</body>
</html>