@media print {
   thead {display: table-header-group;}
}

table{
	color: #337ab7;
}
body{
	background-color: black;
}
p.white{
	color: white;
}

img.img-thumbnail.champ{
	height: 70%;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
header{
	position: absolute;
	top: 0;
	width: 100%;
	min-width: 1000px;
	height: 1080px;
	background-image: url(galleryHeader.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}
.header_span{
	height: 525px;
	min-height: 225px;
	width: 100%;
}
.table>tbody{
	background-color: seashell;
}
.bottom-margin { margin-bottom:50px;}
