@media print {
   thead {display: table-header-group;}
}

table{
	color: #337ab7;
}
body{
	background-color: black;
}
p.white{
	color: white;
}

img.img-thumbnail.champ{
	height: 70%;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
#content-promo{
	position: relative;
	top: 0;
	width: 100%;
	min-width: 1000px;
	height: 1080px;
	overflow: hidden;
}
#content-promo .content-promo-rotator {
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 0;
}
#content-promo .content-promo-rotator .promo-background {
    position: absolute;
    width: 100%;
    min-width: 1000px;
    height: 1080px;
    background: transparent none 50% 0px no-repeat;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: -1;
	background-image: url(galleryHeader.jpg);
}
.header_span{
	height: 525px;
	min-height: 225px;
	width: 100%;
}
.table>tbody{
	background-color: seashell;
}
.bottom-margin { margin-bottom:50px;}
